<!DOCTYPE html>
<html>
<head>
  <title><%= title %> || REGISTER</title>
  <link rel="stylesheet" href="/css/register.css">
</head>
<body>
  <div class="form-container">
    <h2>Register</h2>
    <form action="/register" method="POST">
      <input type="text" name="username" placeholder="Username" required /><br/>
      <input type="email" name="email" placeholder="Email" /><br/>
      <input type="password" name="password" placeholder="Password" required /><br/>
      <button type="submit">Register</button>
    </form>
    <p class="login-link">Already have an account? <a href="/login">Login</a></p>
  </div>
</body>
</html>
